<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><a href="/" title="www.radiochecker.com" class="rc-brand">RadioChecker</a></h1>
        </div>
    </div>

    <div class="row sub-bar">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" aria-label="..." ng-model="input.searchString"
                       placeholder="Song, z. B. 'Video Killed The Radio Star'" ng-minlength="2" no-special-chars />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <input class="form-control" type="date" ng-model="input.date" ng-required="true"
                       placeholder="YYYY-MM-DD" aria-describedby="basic-addon2"  ng-readonly="!ctrl.customDate"
                       ng-blur="checkDate()"/>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" ng-click="setDate(0)">heute</a></li>
                        <li><a href="#" ng-click="setDate(1)">gestern</a></li>
                        <li><a href="#" ng-click="setDate(2)">vorgestern</a></li>
                        <li><a href="#" ng-click="setDate(3)">letzte Woche</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="setDate(4)">Datum eingeben ...</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default go-button left" ng-click="searchTrackDay()"
                    ng-disabled="!input.searchString || input.searchString.length < 2 || input.searchString.length > 40
                    || input.error.searchString || input.error.date || ctrl.connError">
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                &nbsp;Tagescharts
            </button>
            <button type="button" class="btn btn-default go-button right" ng-click="searchTrackWeek()"
                    ng-disabled="!input.searchString || input.searchString.length < 2 || input.searchString.length > 40
                    ||input.error.searchString || input.error.date || ctrl.connError">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                &nbsp;Wochencharts
            </button>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row spacer-bottom" ng-if="!ctrl.inputSubmitted">
        <div class="col-md-2"></div>
        <div class="col-md-8 messagebox">
            <p>
                <span class="highlight highlight-orange">Finde die Statistik für deinen Lieblingssong</span>
            </p>
            <p>
                <span class="highlight highlight-orange">1.</span>
                <span class="highlight highlight-default">Gib den Titel des Songs ein</span>
            </p>
            <p>
                <span class="highlight highlight-orange">2.</span>
                <span class="highlight highlight-default">Gib das gewünschte Datum an</span>
            </p>
            <p>
                <span class="highlight highlight-orange">3.</span>
                <span class="highlight highlight-default">
                        Hol dir die Statistik für den Tag oder die gesamte Woche
                </span>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row row-animate" ng-if="ctrl.requestFinished && !ctrl.connError">
        <div class="col-lg-12 info-bar">
            <p>
                <span class="highlight highlight-default">
                    Deine Suche nach "{{input.searchStringSaved}}" für
                    <span ng-if="ctrl.isWeekView">
                        Kalenderwoche #{{data.weekNo}}
                        ({{data.beginDate | date:"dd.MM.yyyy"}} &mdash; {{data.endDate | date:"dd.MM.yyyy"}})
                    </span>
                    <span ng-if="!ctrl.isWeekView">
                        {{data.beginDate | date:"EEEE, dd.MM.yyyy"}}
                    </span>
                    ergab folgende Ergebnisse:
                </span>
            </p>
        </div>
    </div>

    <div class="row row-animate spacer-bottom" ng-if="ctrl.requestFinished && !ctrl.connError">
        <div class="col-xs-12 visible-lg visible-md" ng-if="data.searchResult.length > 0">
            <div class="table-responsive">
                <table class="table search-results">
                    <thead>
                        <tr>
                            <th class="middle">Song</th>
                            <th class="center middle" ng-repeat="radiostation in data.radiostations">
                                 {{radiostation}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-animate" ng-repeat="result in data.searchResult">
                            <td>
                                <div class="title">{{result.track.title | uppercase}}</div>
                                <div>{{ result.track.artist | uppercase }}</div>
                            </td>
                            <td class="center middle" ng-repeat="play in result.plays track by $index">{{play}} Mal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 hidden-lg hidden-md" ng-if="data.searchResult.length > 0">
            <div class="trackbox-header">
                <p><strong>Songs</strong></p>
            </div>
            <div class="trackbox">
                <div class="track" ng-repeat="result in data.searchResult" ng-click="collapse = !collapse">
                    <div class="wrapper">
                        <div class="track-info">
                            <div class="title">{{ result.track.title | uppercase }}</div>
                            <div>{{ result.track.artist | uppercase }}</div>
                        </div>
                        <div class="track-counter">
                            <div class="counter counter-caret" ng-if="!collapse">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                            <div class="counter counter-caret" ng-if="collapse">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="result-details" ng-show="collapse">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="radiostation in data.radiostations">
                                    <td>{{ radiostation }}:</td>
                                    <td>{{ result.plays[$index] }} Mal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 messagebox messagebox-no-match clear-margin-xs" ng-if="data.searchResult.length == 0">
            <p>
                <i class="fa fa-times fa-5x rc-brand-color hidden-xs" aria-hidden="true"></i>
                <i class="fa fa-times fa-3x rc-brand-color visible-xs" aria-hidden="true"></i>
            </p>
            <p>
                <span class="highlight highlight-default">
                    Keine Übereinstimmung gefunden
                </span>
            </p>
            <p>
                <span class="highlight highlight-default hidden-xs">
                    Versuche es erneut mit einem anderen Suchtext oder Zeitraum
                </span>
            </p>
        </div>
    </div>

    <div class="row row-animate spacer-bottom" ng-if="ctrl.inputSubmitted && !ctrl.requestFinished && !ctrl.connError">
        <div class="col-lg-12 messagebox">
            <img class="img-loading" src="assets/img/radio.svg">
            <p>
                <span class="highlight highlight-orange">
                    Durchsuche Playlists nach "{{ input.searchStringSaved }}" ...
                </span>
            </p>
        </div>
    </div>

    <div class="row row-animate spacer-bottom" ng-if="ctrl.connError">
        <div class="col-lg-12 messagebox">
            <p>
                <i class="fa fa-exclamation-circle fa-5x rc-brand-color hidden-xs" aria-hidden="true"></i>
                <i class="fa fa-exclamation-circle fa-3x rc-brand-color visible-xs" aria-hidden="true"></i>
            </p>
            <p>
                <span class="highlight highlight-default">
                    Ooops... Wir haben wohl gerade schlechten Empfang
                </span>
            </p>
            <p>
                <span class="highlight highlight-default">
                    Bitte lade die Seite erneut oder versuche es später wieder!
                </span>
            </p>
        </div>
    </div>

    <div class="row footer">
        <div class="col-sm-12">
            <a href="/about/wtf" title="Über RadioChecker.com">Über RadioChecker.com</a> |
            <a href="/about/imprint" title="Impressum">Impressum</a> |
            <a href="/about/privacy" title="Datenschutz">Datenschutz</a>
        </div>
    </div>
</div>