<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center head">
            <img class="jack" src="assets/img/logo.png" />
            <h1>RadioChecker</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="welcome-message">
                <span class="highlight highlight-default">
                    RadioChecker.com&nbsp;zeigt dir die meistgespielten Songs deines Lieblings-Radiosenders.
                    Und was läuft bei dir so?
                </span>
            </h4>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row linkbox spacer-bottom">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 center">
            <button type="button" class="btn btn-default btn-large link" ng-click="openTopTracksView()">Meistgespielte Songs</button>
        </div>
        <div class="col-sm-3 center">
            <button type="button" class="btn btn-default btn-large link" ng-click="openTrackSearchView()">Songsuche</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row footer">
        <div class="col-sm-12">
            <a href="/about/wtf" title="Über RadioChecker.com">Über RadioChecker.com</a> |
            <a href="/about/imprint" title="Impressum">Impressum</a> |
            <a href="/about/privacy" title="Datenschutz">Datenschutz</a>
        </div>
    </div>
</div>